.bigOne {
    margin-top: 5.75rem;
    margin-left: auto;
    margin-right: auto;
    --tw-bg-opacity: -1;
    background-color: rgba(41, 13, 92, 0.603);
    border-radius: 1.0rem;
    padding-top: 0.5rem;
    width: 50%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;



    /* color: white; */
    /* position: relative; */
    /* align-items: flex-start; */

}

.rank {

}

.level {
    position: relative;

}

.login {
    /* text-align: right; */
     position: relative;
    top: 30px;
    right: 30px;



}
#rank-img {
    width : 50px;
    height : 50px;
}

.conteneur-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*les item ne sorte pas du container parent*/
    justify-content: space-evenly; /* repartie les espace de maniere egale*/
    /* position: relative;
    bottom: 250px;
    left: 60px; */
}

#profil {
    /* position: relative;
    bottom: 110px; */
    text-align: center;

}

#acc-img {
    width : 150px;
    height : 150px;
    vertical-align: middle;
    position: relative;
    right: 25px;

}

#camera {
    width: 50%;
    height: 50%;
    background-color: transparent;



}

.btn {

    bottom: 5px;
    left: 50%;
    width: 50px;
    margin-left: -25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;





}

.btncrayon{


    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;





}

.img-holder {
    position: absolute;
    margin-top: 2.0rem;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;



}

/* h1 {
    font-family: 'CrickxRegular';
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
 } */

 h2 {
    font-family: 'CrickxRegular';
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
 }

 h3 {
    font-family: 'CrickxRegular';
    font-weight: normal;
    font-style: normal;
    vertical-align: middle
 }

/* ===================== STATS =====================*/

#title {
    font-size: larger;
    color: rgb(184, 0, 0);
    text-align: center;
}

#victory {
    text-shadow: none;
    color: rgba(49, 187, 91, 0.705);
}

#defeat {
    text-shadow: none;
    color: #ca3305;
}

#games {
    text-shadow: none;
    color: rgba(184, 181, 32, 0.808);
}

.stats /* same as bigOne */ {
    margin-top: 5.75rem;
    margin-left: auto;
    margin-right: auto;
    --tw-bg-opacity: -1;
    background-color: rgba(41, 13, 92, 0.603);
    border-radius: 1.0rem;
    padding-top: 0.5rem;
    width: 50%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* display: flex;
    flex-direction: column; */
}

.ico {
    /* margin-left: 0;
    margin-right: auto;
    margin-top: 5rem;
    align-items: center; */
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 1.8rem;
}

#pong {
    height: 100px;
    width: 100px;
    /* https://codepen.io/sosuke/pen/Pjoqqp to convert */
}

#lose {
    filter: invert(21%) sepia(96%) saturate(4634%) hue-rotate(19deg) brightness(93%) contrast(96%);
    height: 100px;
    width: 100px;
}

#trophy {
    height: 100px;
    width: 100px;
}

.things {
    grid-gap: 9rem;
    display: flex;
    padding: 2.5rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

/* ===================== SEARCH USER ===================== */

.search-user {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px rgba(255, 255, 255); 
    border-radius: 8px;
    background-color: rgb(69,15,191, 0.4);
    height: 1.5rem;
    width: 15%;
    padding-left: 0.5rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

#input-bar {
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none ;
    width: 90%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: 'CrickxRegular';
    font-size: 1.25rem;
}

/* ===================== HISTORY ===================== */

.history {
    margin-top: 5.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5.75rem;;
    --tw-bg-opacity: -1;
    background-color: rgba(41, 13, 92, 0.603);
    border-radius: 1.0rem;
    padding-top: 0.5rem;
    width: 50%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    
}

.game {
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    --tw-bg-opacity: -1;
    background-color: #25b62ca8;
    border-radius: 1.0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.login_1 {
    text-align: left;
}

.score {
    text-align: center;
}

.login_2 {
    text-align: right;
}

.date {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#time {
    font-family: 'CrickxRegular';
    font-weight: lighter;
    font-style: normal;
    font-size: 1.25em;
    text-shadow: 2px 2px 4px #999;
    color: rgb(37, 37, 37);
}

/* ===================== AMIS ===================== */

.amis {
    margin-top: 10rem;
   /* margin-left: auto; */
   --tw-bg-opacity: -1;
   background-color: rgba(41, 13, 92, 0.603);
   border-radius: 1.0rem;
   padding-top: 0.5rem;
   width: 15%;
   height: 100%;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   text-align: center;
   position: fixed;
   top: 10px;
   right: 10px;



   /* color: white; */
   /* position: relative; */
   /* align-items: flex-start; */

}

#info-online{
    padding-right: 260px;
    font-size: 20px;
    color: rgb(184, 179, 179);
}

#info-offline{
    padding-right: 260px;
    font-size: 20px;
    color: rgb(184, 179, 179);
}

#rondstatus {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 10px;
    padding-left: 12px;
    padding-top: 5px;

}

#texteh1 {
    font-size: 20px;
    text-align: left;
}

/* ===================== 2FA ===================== */

#separation {
    border-bottom: 1px solid rgb(118, 224, 48);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.two-fa {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    --tw-bg-opacity: -1;
    background-color: rgba(41, 13, 92, 0.603);
    border-radius: 1.0rem;
    padding-top: 0.5rem;
    width: 30%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#two-fa-h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tagrossemere {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    bottom: 20px;
    left: 10px;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: green;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
      border-radius: 34px;
    }
  
  .slider.round:before {
      border-radius: 50%;
    
    }
