.navBar {
  position: relative;
  height: 70px;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
  border: solid 2px rgba(255, 255, 255);
  border-radius: 8px;
}

.siteTitle {
  position: absolute;
  color: white;
  font-family: 'CrickxRegular';
  font-weight: lighter;
  font-style: normal;
  text-decoration: none;
  font-size: 21px;
  line-height: 70px;
  left: 50px;

}

.accountImg {
  position: absolute;
  right: 50px;
  width: 50px;
  height: 70px;
}

.headerTabButton {
  font-size: 20px;
  margin: 0px 15px 0px 15px;
  padding: 8px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border-radius: 0px;
  align-self: center;
}

.headerTabButton:hover {
  //border-bottom: solid 2px rgba(255, 255, 255, .5);
}

.headerTabButtonActive {
  //border-bottom: solid 2px white;
  //background-color: rgba(255, 255, 255, 0.3);
  border: solid 2px white;
  border-radius: 8px 8px 8px 8px;
  //border-bottom: 0px
}

.headerTabs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 70px;
  text-align: center;
  display: flex;
  //background-color: rgba(69, 15, 191, 0.7);
  //border-bottom: solid 5px white;
}
