h4 {
  font-family: 'CrickxRegular';
  font-size: 2.2em;
  margin: 0;
  letter-spacing: 0.05em;
  color: white;
}

h5 {
  font-family: 'CrickxRegular';
  font-size: 1.8em;
  margin: 0;
  letter-spacing: 0.05em;
  color: white;
}

h6 {
  font-family: 'CrickxRegular';
  font-size: 1.5em;
  margin: 0;
  letter-spacing: 0.05em;
  color: white;
}

p {
  font-family: 'CrickxRegular';
  font-size: 1.5em;
  margin: 0;
  color: white;
}

button {
  font-size: 0.625vw;
  font-family: 'CrickxRegular';
  border-radius: 0.8em;
}

button:hover {
  background-color: #8e44ad;
}

canvas {
  border-radius: 1.2em;
}

.gameWrap {
  margin-top: 45px;
  margin-left: 15%;
  margin-right: 15%;
  height: 60em;
  border: solid 0.8em white;
  border-radius: 10em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.625vw;
  font-family: 'CrickxRegular';
  background-color: rgb(69,15,191, 0.4);
}

.gameArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameTitle {
  position: absolute;
  background-color: #450FBF;
  color: white;
  padding: 0 1em 0 1em;
  border-radius: 0.8em;
  width: fit-content;
  border: solid 0.5em white;
  margin-left: auto;
  margin-right: auto;
  height: 4em;
  line-height: 4.2em;
  top: -2.8em;
  left: 0;
  right: 0;
}

.tabButton {
  margin: 1em 1.5em 1em 1.5em;
  padding: 0.8em;
  border-radius: 0.8em;
  border: none;
  color: white;
  padding: 1em 32em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
}

.tabButton:active {
  background-color: rgba(0, 0, 0, .2);
}

.tabButton:hover {
  background-color: rgba(0, 0, 0, .2);
}

.tabButtonActive {
  border: solid 0.2em white;
}

.gameButton {
  font-size: 0.8em;
  padding: 1.0em;
  color: white;
  border-radius: 0.8em;
  background-color: #450FBF;
  border: solid 0.5em white;
}

.gameCards {
  border-radius: 0.8em;
  margin: 1.5em auto 0 auto;
  background-color: #450FBF;
  padding: 1.5em 1em 1.5em 1em ;
  width: 15em;
  border: solid 0.1em white;
  color: white;
  text-align: center;
}

.gameCardsBox {
  margin-top: 2em;
  margin-bottom: 1.5em;
  height: 35em;
  overflow: auto;
  border: solid 0.3em white;
  border-radius: 0.8em;
  background-color: rgba(255, 255, 255, 0.1);
}

.gameCardsBox::-webkit-scrollbar {
  display: none;
}

.gameFighting {
}

.searchGame {
  border: solid 0.5em white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -10.6em;
  position: absolute;
  border-radius: 0.8em;
  background-color: #450FBF;
  padding: 1.5em 1.5em 1.5em 1.5em;
  width: 20em;
  height: fit-content;
}

.popup-content {
  margin: auto;
  padding: 2em;
  border-radius: 0.8em;
  background-color: #450FBF;
  color: white;
  border: solid 0.3em white;
  font-size: 0.625vw;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.input {
  font-size: 1vw;
  border-radius: 0.5em;
  border: none;
  width: 12em;
}

.gameInProgress {
  color: white;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: -13.4em;
  border: solid 0.5em white;
  border-radius: 0.8em;
  background-color: #450FBF;
  padding: 1.5em;
  width: 22em;
  height: 22em;
}

.gridStatsContainer {
  display: grid;
  column-gap: 2em;
  row-gap: 2em;
  grid-template-columns: 1.25fr 0.5fr 1.25fr;
}

.gameButtonStart {
  font-size: 0.625vw;
  position: absolute;
  bottom: -3.4em;
  color: white;
  background-color: #450FBF;
  border: solid 0.5em white;
  border-radius: 0.8em;
  padding: 1.5em;
  height: 6em;
}

.gameTrainingButtonsWrap {
  position: absolute;
  bottom: -3.4em;
  color: white;
  border: none;
  height: fit-content;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
}

.gameTrainingButton {
  font-size: 0.625vw;
  color: white;
  background-color: #450FBF;
  border: solid 0.5em white;
  border-radius: 0.8em;
  padding: 1.5em;
  width: 18.4em;
}

.gameStatus {
  border: solid 0.2em white;
  border-radius: 0.8em;
  height: 8.0em;
  padding: 0.5em;
  margin-top: 2em;
}

.gridStatsItem {
}
