$big-font: "Press Start 2P", cursive !important;
$big-font-size: 24px;
$basic-font: Montserrat, Arial, Helvetica, sans-serif !important;
$small-font-size: 14px !important;
$mini-font-size: 10px !important;
$bold: 600 !important;
$border-radius: 0.4rem;
$border-radius-big: 1rem;
$green: #469536 !important;
$red: #ff4040 !important;
$blue: #c0dfef !important;
$grey: #708090 !important;
$white: #fff !important;