.rayaneleboloss {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

/* ===================== Css Rayane ===================== */

#input-mdp {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    width: 25%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: 'CrickxRegular';
    font-size: 1.25rem;
}

#leCadenas {
    height: 80%;
}

#imgcadenas {
    margin-left: 1rem;
}

.allServers {
    color: white;
    font-size: 1.75rem;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.allServers:hover {
    background-color: rgb(184, 85, 209);
}

/* .popup-content2 {
    margin: auto;
    padding: 2em;
    border-radius: 0.8em;
    background-color: #450FBF;
    color: white;
    border: solid 0.3em rgb(189, 15, 15);
    font-size: 6.625vw;
  }
  
  .popup-overlay2 {
    background: rgba(0, 0, 0, 0.5);
  } */


.divJoinChannel {
    margin-top: 1.5rem;
    /* margin-left: auto;
    margin-right: auto; */
}

#imgJoinChannel {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.allBodyChat {
    /* margin-top: 5.75rem; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 40%;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* color: white; */
    /* position: relative; */
    /* align-items: flex-start; */
}

.headerChat {
    margin-top: 5.75rem;
    background-color: rgb(15, 15, 15);
    padding-top: 1.85rem;
    /* width: 20%; */
    height: 5.5%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* color: white; */
    /* position: relative; */
    /* align-items: flex-start; */
}

.centerChat {
    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: column;
    background-color: rgb(8, 3, 75);
    padding-top: 0.5rem;
    /* width: 20%; */
    height: 60%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow: auto;
    /* color: white; */
    /* position: relative; */
    /* align-items: flex-start; */

}
.centerChat::-webkit-scrollbar {
    display: none;
}

.footerChat {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(94, 91, 91);
    /* padding-top: 0.5rem; */
    /* width: 20%; */
    height: 8.5%;
    padding-left: 1.5rem;
    /* padding-right: 1.5rem; */
    /* color: white; */
    /* position: relative; */
    /* align-items: flex-start; */

}

.submitChat {
    /* margin-left: auto;
    position: relative; */
    /* bottom: 24px;
    left: 23px; */
    background-color: rgb(34, 7, 131);
    /* width: 8%; */
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* color: white; */
    /* position: relative; */
    /* align-items: flex-start; */
}

/* .inputChat {


    margin-left: auto;
    position: relative;
    bottom: 8px;
    left: 23px;



    height: 110%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    background-color: transparent;
    border: none;
    cursor: pointer;





    color: white;
    position: relative;
    align-items: flex-start;

} */

#imgSubmit {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.buttonSubmit {
    /* bottom: 5px;
    top: 24px;
    left: 20px;
    margin-left: -25px; */
    top : 1.25rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

#imgDirectChat {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.buttonDirectChat {
    /* bottom: 5px;
    top: 24px;
    left: 55px;
    margin-left: -25px; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

#imgLoupe {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.buttonInviteUsers {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* position: relative; */
}

#imgaddgroup {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.buttonaddgroup {
    /* bottom: 5px;
    top: 24px;
    left: 20px;
    margin-left: -25px; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.iconeChat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#inputrayane
{
    width: 80%;
    border: none;
    outline: none ;
    background-color: transparent;
    color: white;
    font-family: 'CrickxRegular';
}

/* Channel composant */

.Allbodychannel {
    /* margin-top: 5.75rem; */
    width: 13%;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    left: 2.7rem;
}

.footerChatchannel {
    background-color: rgb(14, 13, 13);
    padding-top: 0.5rem;
    /* width: 20%; */
    height: 8%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0px 0px 0px 20px;
}

.headerChatchannel {
    margin-top: 1.15rem;
    background-color: rgb(15, 15, 15);
    padding-top: 0.5rem;
    /* width: 20%; */
    height: 7.5%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 20px 0px 0px 0px;
}

#h1channel {
    text-align: center;
    color: rgb(185, 174, 174);
    width: 100%;
    word-wrap: break-word
}

.popup-content {
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #5701C8;
    color: white;
  }

  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }


/* Composant List */

.AllbodyList {

    /* margin-top: 5.75rem; */


    width: 13%;


    padding-top: 0.5rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    right: 2.7rem;


}

.footerChatList {

    background-color: rgb(14, 13, 13);
    padding-top: 0.5rem;
    /* width: 20%; */
    height: 8%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;


    border-radius: 0px 0px 20px 0px;


}

.headerChatList {  
    margin-top: 5.75rem;
    background-color: rgb(15, 15, 15);
    padding-top: 0.5rem;
    /* width: 20%; */
    height: 8%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0px 20px 0px 0px;
}

.inputName {
    color: white;
    font-size: 25px;
}

.inputValue {
    color: rgb(184, 190, 190);
    font-size: 20px;

}

.channelName {
    text-align: left;
    color: aliceblue;
    font-size: 20px;
}

/* .channelName:hover {
    color: blue;
}

.channelName:active {
    color: blue;
} */

.personneDansChannelOwner {
    color: rgb(202, 189, 67);
    cursor: pointer;
}

.personneDansChannelAdmin {
    color: rgb(238, 118, 38);
    cursor: pointer;
}

.personneDansChannelOwnerDefault {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.personneDansChannel:hover {
    color: rgb(144, 39, 170);
}

.btnpersonneDansChannel {

    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.dieseChannel {
    color: rgb(185, 174, 174);
    font-size: 35px;
}

.testDM {
    display: flex;
    flex-direction: column;
}

.lesChannels {
    display: flex;
    flex-direction: column;
    border-bottom: red;
}

#separation2 {
    border-bottom: 1px solid rgb(68, 54, 197);
    width: 60%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.chathistory {
    font-size: 20px;
    color: rgb(184, 190, 190);
    overflow: auto;
    margin-left: 1rem;
    word-wrap: break-word
}

.chathistory::-webkit-scrollbar {
    display: none;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: rgb(38, 105, 192);
    /* text-shadow: 2px 2px 4px #999; */
    /* text-align: center; */
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.MuiButtonBase-root {
    font-family: 'CrickxRegular';
    font-weight: normal;
    font-style: normal;
}

#buttonSettings {
    padding-bottom: -0.5rem;
}
#buttonSettings:hover {
    background-color: rgb(184, 85, 209);
    border-radius: 20%;
}


.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
    z-index: 0 !important;

}